.header {
  @include square-setting(100px, 100%, $headerColor);
  position: fixed;
  z-index: 1;
  &__info {
    padding: 0 100px;
    @include space-between();
    &__title {
      line-height: 100px;
      @include font-setting(#FFFFFF,20px,bold)
    }
    &__user {
      display: flex;
      line-height: 100px;
      &--status {
        margin-left: 20px;
      }
    }
  }
}
.contents {
  @include square-setting(100vh, calc(100% - 200px), $contentsColor);
  padding: 120px 100px 0px 100px;
  
  &__messages {
    @include square-setting(300px, calc(100% - 60px), #FFFFFF);
    box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.5);
    margin: 0 auto;
    padding: 10px 30px;
    &__message {
      @include space-between();
      padding: 10px;
      &__text {
        @include font-setting(#000000,14px,normal)
      }
      &__info {
        position: relative;
        bottom: 0;
        &__name {
          @include font-setting(#7F7F7F,12px,normal)
        }
        &__date {
          @include font-setting(#7F7F7F,12px,bold)
        }
      }
    }
  }
  #new_message{
    width: 100%;
  }
  &__form {
    @include square-setting(200px, calc(100% - 80px), #FFFFFF);
    padding: 10px 40px;
    margin: 20px auto;
    
    box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.5);
    &__box {
      padding: 10px 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__text {
        @include square-setting(100px, 100%, #FFFFFF);
        margin: 10px 50px;
      }
      &__send-btn {
        @include square-setting(50px, nill, #00FFFF);
        text-decoration: none;
        line-height: 50px;
        padding: 0 30px;
      }
    }
  }
  &__footer {
    @include font-setting(#7F7F7F,20px,bold);
    @include square-setting(50px, 50px, null);
    margin: 20px auto;
  }
}
